* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#inputTarefa {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

#btnadicionar {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#btnadicionar:hover {
    background: #0056b3;
}

#listaTarefas {
    list-style: none;
    padding: 0;
}

#listaTarefas li {
    background: #f8f9fa;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

btn-acao {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
}

#listaTarefas li>div {
    display: flex;
    gap: 8px;
}

.btn-concluir {
    background: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

.btn-concluir:hover {
    background: #1e7e34;
}

.btn-desfazer {
    background: #f9f906;
    color: rgb(4, 4, 4);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-desfazer:hover {
    background: #99a71d;
}

.btn-remover {
    background: #ff0400;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

.btn-remover:hover {
    background: #545b62;
}

p {
    text-align: center;
    color: #828282;
    margin-top: 20px;
}